@charset "utf-8";


td {
	text-align: center;
}

a {
    text-decoration: none;
}

#container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

#siteContent {
    align-self: center;
    width: 70%;
    height: 100%;
    display: inline-block;
    white-space:nowrap;
    background-color: FFFFFF;
    text-align: center;
}

#LeftSideBar {
    border-right: 5px, black, solid;
    position: sticky;
    margin-right: -60%;
    height: 100%;
}

#RightSideBar {
    border-left: 5px, black, solid;
    position: sticky;
    margin-left: -60%;
    height: 100%;
}

.SideBar {
    border-right: 5px;
    
    width: 10%;
    height: 100%;
    display: inline-block;
    white-space:nowrap;
    text-align: center;
    position: sticky;
}

.SiteButton {
	border: 2px, black, solid;
}

.menu {
    text-align: center;
}


.eventWrap {
	width: 100%;
	margin-left: 10%;
    margin-right: 10%;
    background-color: aqua;
    text-align: center;
}
.eventThumbnail {
	width: 80%;
	background-color: gray;
	text-align: left;
	border-bottom: 2px, solid, purple;
}
.eventPaging {
	float: left;
}

.techTags {
	border-width: 2px;
	background: F9F9F9;
	border-style: solid;
	border-color: ECECEC;
	border-radius: 2em; 
	margin: 5px;
	padding: 2px;
	float: left;
}

.SiteButton {
	float: left;
}