@charset "utf-8";

body {
    background-color:rgb(218, 218, 187);
}

td {
	text-align: center;
}

a {
    text-decoration: none;
}

#container {
	margin-left:15%;
	margin-right: 10%;
	width: 80%;
    background-color: yellow;
    text-align: center;
    dispaly: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: stretch;
    
}   

#LeftSideBar {
    border-right: 5px, black, solid;
    height: 100%;
    grid-area: LeftSideBar;
    grid-column: 1;
}

#siteContent {
    align-self: center;
    width: 70%;
    height: 100%;
    display: inline-block;
    white-space:nowrap;
    background-color: FFFFFF;
    text-align: center;
    grid-area: siteContent;
    grid-column: 2;
    float:left;
}


#RightSideBar {
    border-left: 5px, black, solid;
    height: 100%;
    grid-area: RightSideBar;
    grid-column: 3;
}

.SideBar {
    border-right: 5px;
    width: 10%;
    height: 100%;
    display: inline-block;
    text-align: center;
    float:left;
}

.menu {
    text-align: center;
}


.eventWrap {
	width: 100%;
	margin-left: 10%;
    margin-right: 10%;
    background-color: aqua;
    text-align: center;
}
.eventThumbnail {
	width: 80%;
	background-color: gray;
	text-align: left;
	border-bottom: 2px, solid, purple;
}
.eventPaging {
	float: left;
}

.techTags {
	border-width: 2px;
	background: F9F9F9;
	border-style: solid;
	border-color: ECECEC;
	border-radius: 2em; 
	margin: 5px;
	padding: 2px;
	float: left;
}

.SiteButton {
	float: left;
}