@charset "utf-8";

body {
}

td {
	text-align: center;
}

a {
    text-decoration: none;
}

hr {
	height: 3px;
	width: 100%;
	background-color: rgb(105, 4, 105);
	border: 0px;
}

#container {
	margin-left:15%;
	margin-right: 10%;
	width: 70%;
	height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 0.7fr 3fr 0.7fr;
    grid-template-areas:
    "LeftISideBar siteContent RightSideBar";
    align-items: stretch;
    
}   

#LeftSideBar {
    border-right: 5px;
    width: 10%;
    height: 100%;
    display: inline-block;
    text-align: center;
    float:left;
    position: fixed;
    
    height: 100%;
    grid-area: LeftSideBar;
    padding-top: 5%;
    border-right: 2px solid purple;
    padding-right:20px;
}

#siteContent {
	margin-top: 15%;
	padding:20px;
    align-self: center;
    height: 100%;
    display: inline-block;
    white-space:nowrap;
    background-color: FFFFFF;
    text-align: center;
    grid-area: siteContent;
    float:left;
    
    white-space: normal;
}


#RightSideBar {
    height: 100%;
    grid-area: RightSideBar;
    margin-left:60%;
    padding-top: 4.5%;
    border-left: 2px solid purple;
    padding-left: 20px;
    
    
    position: fixed;
}

.menu {
    text-align: center;
}


.eventWrap {
	width: 100%;
	margin-left: 10%;
    margin-right: 10%;
    background-color: aqua;
    text-align: center;
}
.eventThumbnail {
	width: 80%;
	text-align: left;
	border-bottom: 2px, solid, purple;
}
.eventPaging {
	float: left;
}

.userTechTags {
	border-width: 0.5px;
	border-style: solid;
	border-radius: 2em; 
	margin: 3px;
	padding: 2px;
	float: left;
}

.SiteButton {
	float: left;
}

.inputText {
	border: none;
	border-bottom: 3px solid rgb(105, 4, 105);
	margin-top: 5%;
}

.inputText:focus {
	outline: none;
}

.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}