@charset "UTF-8";

#questionDetailTechsArea {
	width: 80%;
}
.techTags {
	width: 10%;	
}

#answerContent {
	width: 90%;
	height: 200px;
	border: none;
	border-bottom: 3px solid rgb(105, 4, 105);
	margin-bottom: 17%;
	resize: none;
}

#questionContainer {
	margin-top: 10%;
	white-space: normal;
}

#questionArea {
	grid-area: questionArea;
}
#questionDetailTitle {
	display: grid;
	grid-area: title;
}
#buttonArea {
	grid-area: buttonArea;
	
}

#updateButton {
	grid-area: update;
	width: 10%;
	float: right;
}
#deleteButton {
	grid-area: delete;
	width: 10%;
	float: right;
}

#questionDetailContent {
	display: grid;
	grid-area: content;
}
#questionDetailTechsArea {
	display: grid;
	grid-area: tagarea;
}

#answerArea {
	margin-top: 10%; 
	grid-area: answerArea;
}

.answers {
	display: grid;
	margin-top: 5%;
	grid-template-areas:
	"writer date recommend"
	"content content content";
}

.answerWriter {
	margin-top: 5%;
	width:100%;
	grid-area: writer;
}

.answerDate {
	grid-area: date;
}

.answerContent {
	grid-area: content;
}

.answerRecommend {
	grid-area: recommend;
}

#answerWriteArea {
	display: grid;
	grid-area: answerWriteArea;
}