<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teammate.find.Event.EventMapper">
	
	
	<select id="viewEvent" parameterType="com.teammate.find.Event.EventSelector" resultType="com.teammate.find.Event.Event">
		select * from (
			select @rn := @rn +1 as rn, code, title, content, link, startDate, endDate from (
				select * from event where title like '%%' order by code desc
			)eventSearch, (select @rn:=0)rn
		)eventorder
		where rn &gt;= #{start} and rn &lt;= #{end};
		<!-- select * from event  where title like '%'#{search}'%' or content like '%'#{search}'%' -->
	</select>

	
	<select id="viewEventDetail" parameterType="com.teammate.find.Event.Event" resultType="com.teammate.find.Event.Event">
		select * from event where code = #{code}
	</select>
	
	<select id="getEventCount" parameterType="com.teammate.find.Event.EventSelector" resultType="java.lang.Integer">
		select count(*) from event where title like %#{search}% or content like %#{search}%
	</select>
	
	
	
	
	<insert id="createEvent" parameterType="com.teammate.find.Event.Event">
		insert into Event (Title, Content, startDate, endDate, link) values (#{title}, #{content}, #{startDate}, #{endDate}, #{link})
	</insert>
	
	<update id="updateEvent" parameterType="com.teammate.find.Event.Event">
		update event set title = #{title}, content = #{content}, link = #{link}, startDate = #{startDate}, endDate = #{endDate} where code = #{code}; 
	</update>
	
	<delete id="deleteEvent" parameterType="com.teammate.find.Event.Event">
		delete from event where code = #{code}
	</delete>
</mapper>